* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #170F2F;
    --secondary-color: #5F2DED;
    --ternary-color: #F3F4FD;
    --text-color: #5F6C76;
    --text-color1: #F2277E;
    --bg-color: #FFFFFF;
    --bg-color1: #F5F5FE;
    --icon-color: #222222;
    --icon-color1: #FB285E;
    --topbar-color: #191B1E;
    --color1: #FE2323;
    --color2: #7B7D82;
    --color3: #2864FF;
    --color4: #FF275A;
    --color5: #1EC902;
    --color6: #FF912C;
    --color7: #2864FF;
    --title-font: 'Hind';
    --discription-font: 'Inter';
    --fs: 16px;
    --fw: 400;
    --lh: 1.5;
    --gw: 15px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--title-font);
    font-family: var(--discription-font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

/* common Property */
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: 400;
}

.container {
    max-width: 1320px;
    padding-left: var(--gw);
    padding-right: var(--gw);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: var(--gw);
    padding-right: var(--gw);
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* top bar */
.topbar {
    background-color: var(--topbar-color);
    padding: 10px 0;
}

.social-detail ul li a,
.social-icon ul li a {
    color: white;
    font-size: 12px;
    display: block;
    margin-right: 8px;
}

.social-detail ul li a i,
.social-icon ul li a i {
    color: white;
    margin-right: 5px;
}

.social-icon ul li a i {
    margin-right: 10px;
}

.social-icon ul li:not(:last-child),
.social-detail ul li:not(:last-child) {
    margin-right: 10px;
}

.social-detail ul,
.social-icon ul,
nav ul ,.mark ul,.menu-bar ul {
    display: flex;
}

/* nav bar */
.logo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    column-gap: 10px;
}

nav ul li a {
    color: var(--text-color);
    margin-right: 41px;
    font-size: 16px;
    font-weight: 500;
}

.login ul li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar {
    padding-top: 15px;
}

nav ul li a i {
    color: #222222;
    padding-left: 5px;
}

nav ul li:first-child a,
nav ul li:first-child a i {
    color: #5F2DED;
}

/* Main Section */
/* hero-Section */
.hero-section {
    background-color: #170F2F;
    height: 600px;
    width: 1320px;
    border-radius: 15px;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* flex-direction: column;      */
}

.icon-img {
    position: absolute;
    left: 7%;
    top: 7%;
}

.spred1 {
    position: absolute;
    left: 42%;
    top: 5%;
}
.spred2{
    position: absolute;
    left:75%;
    top: 25%;
}
.content p {
    color: #F2277E;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 18px;
}

.content h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height:72px;
    text-align: center;
    margin-bottom: 20px;

}
input {
    height: 19px;
    width: 808px;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid black;
}   
input::placeholder {
    font-size: 16px;
    color: #7B7D82;
    font-weight: 100;
}
form {
    text-align: center;
    margin-bottom: 40px;
}
.btn {
    position: absolute;
    width: 126.78px;
    height: 55.46px;
    border-radius:30px;
    font-size: 18px;
    right: 20%;
    top:56.6%; 
}
.btn-primary {
    text-align: center;
    background-color:#5F2DED;
    color: var(--bg-color);
}
.btn-primary span {
    align-items: center;
    display: inline-block;
    transform: translateY(50%); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    right:25%;
}
.btn-primary img{
    width: 25px;
    display:inline-block;
    align-items: center;
    transform: translateY(50%); 
    position: absolute;
    left:13%;
    top:6%;
}
.mark ul li a{
    color:#FFFFFF;
}
.mark ul li a i{
   margin-right:5px;
}
.mark ul li a span{
    margin-right:24px;
}
.mark{
    justify-content: center;
    display: flex;
}
/* blog  */
.blog{
    position: absolute;
    background-color: white;
    display: flex;
    padding:30px;
    align-items: center;
    top:90%;
    left:15%;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.blog-img,.blog-img1,.blog-img2,.blog-img3,.blog-img4{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    margin-right: 45px;
}
.blog-img4{
    margin-right: 0;
}
/* Courese Name */
.first-row ul,.second-row ul,.third-row ul {
    display: flex;
    margin-top: 50px;
    flex-wrap: nowrap;  
    padding: 0;
    justify-content: center;
    gap: 40px; 
    list-style: none;

}
.first-row ul li,.second-row ul li,.third-row ul li{
    text-align: center;
    min-width: 150px;
}
.first-row ul li h3,.second-row ul li h3,.third-row ul li h3{
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}  
.first-row ul li span,.second-row ul li span,.third-row ul li span{
    font-size: 12px;
    font-weight:400;
    color:#5F6C76;
}
.course-name{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 50px;
}
.third-row ul{
    justify-content: flex-start; 
}
/* online courses */
.online-course{
    position: relative;
    background-color:var(--bg-color1);
    width:1320px;
    height:1400px;
    margin: 20px auto;
    padding-top: 40px;
}
.btn-secondary{
    display: inline-block;
    padding:15px;
    border-radius: 30px;
    background-color: #E7DEFF;
    color: #5F2DED;  
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top:0;
    right:42%;
}
.btn-secondary span {
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 500;
}
.title h1{
    padding-top: 30px;
    color:#5F6C76;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
}
.title span{
    color: #5F6C76;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#F2277E;
}
.menu-bar{
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    padding:20px;
    margin-top: 20px;
    width: 900px;
    right:42%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}
.menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}
.menu-bar ul li span{
color:#5F6C76;
font-size: 14px;
font-weight: 400;   
display: inline-block;
align-items: center;
display: flex;
justify-content: center;
}
.menu-bar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.menu-bar ul li:first-child a span{
    color:#5F2DED;
}
.menu-bar ul li img {
 margin-right: 30px;
 margin-left: 30px;
}
.rectengle1 {
    padding-top: 50px;
    width: 1224px;
    height: 1007px;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.learn-option{
    height:476.6px;
    width: 384px;
    background-color: #ffffff;
    margin-right: 20px;
    position: relative;
}
.learn-option  img{
    border-radius: 12px;
    padding:20px;
}
.row-top, .row-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.detail p{
    font-size: 14px;
    color:black;
    font-weight: 400;
    margin-top:20px;
}
.detail{
    display: flex;
}